* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.main {
  font-family: "gilroy";
  height: 100%;
  width: 100%;
  background-color: rgb(98, 105, 99);
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer {
  padding: 10px 10px;
  height: 500px;
  width: 300px;
  background-color: rgb(29, 152, 119);
  border: 2px;
  border-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 10px;
  border-color: black;
  border: 4px;
  padding: 5px 15px;
}

.finished {
  display: none;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
  background-color: beige;
  z-index: 10;
}

h4 {
  text-align: center;
}

.timeElapsed {
  height: 90%;
  width: 90%;
  background-color: violet;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 1;
  text-align: center;
}
